.header {
  margin: 0.7em 0.5em 0 0;
  padding-left: 1.2em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.cards {
  background-color: #bcd0db;
  width: 23em;
}
.lists {
  margin-right: 1.2em;
}
.allcard {
  max-height: 50em;
  overflow-y: auto;
  overflow-x: hidden;
  width: 300px;
  margin: 1em auto;
}
.del {
  cursor: pointer;
}
ul {
  background-color: #ebecf0;
  margin: 0;
}
